<h3>Crear Actividad</h3>
<div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="nombreActividad">Nombre</label>
            <input type="text" class="form-control" id="nombreActividad" required [(ngModel)]="actividad.nombreActividad" name="nombreActividad">
        </div>

        <div class="form-group">
            <label for="fechaHoraEjecucion">Fecha y hora</label>
            <input type="text" class="form-control" id="fechaHoraEjecucion" required [(ngModel)]="actividad.fechaHoraEjecucion" name="fechaHoraEjecucion">
        </div>

        <div class="form-group">
            <label for="empleado">Empleado</label>
            <select class="form-control" id="empleado" required [(ngModel)]="actividad.empleado" name="empleado">
                <option *ngFor="let empleado of empleados" [ngValue]="empleado">{{empleado.nombreCompleto}}</option>
            </select>
        </div>

        <br>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>
<br>
<button (click)="volverALista()" class="btn btn-primary">Regresar</button>